@media (max-width: 768px) {
  .img-lg {
    display: none;
  }
  .img-sm {
    display: block;
    height: 100px;
    width: 300px;
  }
}
.img-lg {
  display: block;
  height: 600px;
  width: 800px;
}
.img-sm {
  display: none;
}
.home-imgs {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
